@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    .section{
        @apply flex w-full flex-col p-2 md:overflow-x-auto border-b-2
    }

    .product{
        @apply flex space-x-5  overflow-x-scroll md:overflow-hidden
    }
    .link {
        @apply cursor-pointer hover:underline
    }
    .button{
        @apply cursor-pointer p-2 text-xs md:text-sm bg-gradient-to-b from-yellow-200
         to-yellow-400 border border-yellow-300 rounded-sm focus:ring-1 focus:ring-yellow-500
          active:from-yellow-400 active:to-yellow-200 focus:shadow-md
    }

    .sidebarItem{
        @apply flex flex-col  items-center justify-center space-y-2 font-semibold font-mono text-sm text-gray-400 hover:text-[#5DA9E9] active:text-[#5DA9E9] 
    }
    
    .svgItem{
        @apply p-4 bg-gray-200 rounded-md shadow-md
    }

    .active{
        @apply bg-[#5DA9E9] text-white
    }

    


}


.sidebarItem:hover .svgItem{
    background-color: #5DA9E9;
}

.ac-tive .svgItem{
    background-color: #5DA9E9;
}

.ac-tive svg path {
    fill: #fff;  
}

.ac-tive p{
    color: #5DA9E9;
}

.sidebarItem:hover .svgItem svg path {
    fill: #fff
}